<p>Select user allowed to view this gallery:</p>

<div id="permission-list">
	<% User.all.each do |user| -%>
	<span id="user_<%= perm.user_id %>">
		<% 
		# Verify that a permission exists for this user
		# If so, the checkbox is checked and id=perm.id for remove method in js
		if permission = !MediaRocket::GalleryPermission.first(:gallery_id => params[:gallery_id], :user_id => user.id).nil? %>
		<input type='checkbox' id='perm_<%= perm.id %>' name='perm_<%= params[:gallery_id] %>_<%= user.id %>' class='permission-item' CHECKED>
		<% else %>
		<input type='checkbox' name='perm_<%= params[:gallery_id] %>_<%= user.id %>' class='permission-item'>
		<% end %>
	<%= user.login %>
	<a href='#' class='remove_user' rel='user_<%= user.id %>'><img src='<%= media_rocket_image_path("/icons/delete.png") %>' alt='delete user'/></a>
<br>
</span>
<%- end %>

<form action='<%= slice_url(:permissions) %>' method='get' class='userform' accept-charset='utf-8'>
	<label for='username'>Username</label><input type='text' name='login' value='' id='username'><br>
	<label for='password'>Password</label><input type='password' name='password' value='' id='password'>
	<input type='hidden' name='permission_act' value='add_user' id='action'>
	<input type='hidden' name='gallery_id' value='<%= params[:gallery_id] %>' id='action'>
	<p><input type='submit' value='Add User &rarr;'></p>
</form>